body{
    margin: 0 auto;
    width: 95%
  

}

h2{
    text-align: center;
}

p{

    text-align: center;
}

input[type="submit"]{

    width: 100%;

}
.error{color:#8b0000;background-color:#fff;border-radius:40px;border-style:solid;border-color:#8b0000;padding-right:10px;padding-left:10px;margin-top:1vh}